* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  padding-bottom: 60px;
  min-height: 100vh;
}

.app__header {
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* .app_post {
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-top: 20px;
  margin-left: 20px;
} */

@media screen and (max-width: 767px) {
  .app__postsRight {
    display: none;
  }
}