* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  padding-bottom: 60px;
  min-height: 100vh;
}

.app__header {
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Keep the aspect ratio of the image */
  object-fit: contain;
}